<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Attendances</title>
    <link rel="stylesheet" href="/static/tailwindcss.css">
</head>
<body class="">
    <div class="text-3xl font-semibold mb-4 px-4 space-x-8 py-3 bg-blue-100 rounded">
        <a href="/" class="">Home</a>
        <a href="/add-user" class="">Add User</a>
        <a href="/" class="">See Attendance</a>
        <a href="/verify" class="float-right bg-green-400 rounded-lg mt-[-8px] px-3 py-2">Mark Attendance</a>
    </div>
    <div class="container mx-auto p-4">
        <div>
            <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">All Users</h2>
                </header>
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Name</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Email</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">ID</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-center">Attendance</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_add_new_item" class="text-sm divide-y divide-gray-100">
                                <div class="flex items-center justify-center" id="loader">
                                    <div
                                      class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
                                      role="status">
                                      <span
                                        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                                        >Loading...</span
                                      >
                                    </div>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <script src="/static/all-user-index.js"></script>    
</body>
</html>
